.List {
  margin: 20px;
}
.List2 {
  /* display: flex; */
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 18px;
}
.List2 p {
  margin: 20px;
  font-weight: 400;
  font-size: large;
}
.insidedata {
  margin: 20px;
  font-weight: 400;
}
