.App {
  text-align: center;
}
.navbar {
  background-color: #a04dec;
  /* height: 45px; */
}
.list-items {
  display: flex;
  list-style: none;
  margin: 10px;
}
.list-items li {
  margin: 25px;
  font-size: large;
  color: white;
  text-decoration: none;
}
.Mobile {
  text-align: center;
}
